@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importamos la fuente Orbitron desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Helvetica', sans-serif;
}

/* Los títulos usarán Orbitron */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Orbitron', sans-serif;
}
